/* Specific gallery page design */
#gallery-images {
	img {
		@include add-border(1px, #ccc, all);
		margin-bottom: 10px;
		@include border-radius(50%);
	}

	ul {
		margin:0; padding: 0;
	}

	li {
		margin: 0; padding: 0;
		list-style: none;
		float: left;
		padding-right: 10px;
	}
}


